---
import {  } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <!-- 
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> DK SYSTEM이란 ? </span
    > Digital Key System이란 의미로 다년간의 기술력과 현장 경험으로 보안과 편의성을 모두 갖춘 제품을 개발합니다.
    -->
  </div>
</section>
